html {
    background: url(./images/bi.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

* {
    font-family: 'Press Start 2P', cursive;
    font-size: large;
}

body {
    background-color: transparent;
}

#main-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.title {
    display: flex;
    justify-content: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 50px;
    letter-spacing: 9px;
    margin: 0;
}

#container {
    text-align: center;
}

.score-text {
    font-size: 30px;
    margin: 10px;
}

#my-canvas {
    border: 10px ridge darkgreen;
    background: rgb(195, 249, 195);
}

.restart-button {
    text-align: center;
    font-size: 30px;
    transition: ease-out 0.4s;
    border: 5px ridge darkgoldenrod;
    background-color: rgba(242, 255, 0, 0.537);
    position: relative;
    z-index: 1;
    margin: 0px;
    display: flex;
    align-self: center;
}

.restart-button:hover {
    cursor: pointer;
}

.restart-button::before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0%;
    left: 50%;
    right: 50%;
    bottom: 0%;
    opacity: 0;
    content: '';
    background-color: rgb(255, 255, 0);
}

.restart-button:hover::before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
}

.game-over-sign {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: -450px;
    visibility: hidden;
}

img {
    width: 400px;
    height: auto;
    justify-content: center;
    display: flex;
    align-self: center;
}

.difficulty-container {
    margin: auto;
    border: 5px ridge darkgreen;
    width: 20%;
    height: fit-content;
    padding: 10px;
    background-color: rgba(43, 255, 0, 0.345);
    display: flex;
    flex-direction: column;
}

.radio {
    margin: 10px;
}

form {
    display: flex;
    flex-direction: column;
}

.center-container {
    display: flex;
    justify-content: space-between;
    padding-left: 25%;
}

#copyright {
    position: fixed;
    text-align: center;
    bottom: 0px;
    width: 100%;
    font-size: 17px;
    margin-bottom: 2px;
    color: black;
}

.fa {
    padding-left: 10px;
    text-align: center;
    text-decoration: none;
    color: blue;
}


/* Add a hover effect if you want */

.fa:hover {
    color: green;
    transition: 0.5s;
    transform: scale(1.4);
}

.start-game-sign {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: -300px;
    visibility: visible;
}

.pause-button {
    text-align: center;
    font-size: 30px;
    transition: ease-out 0.4s;
    border: 5px ridge darkgoldenrod;
    background-color: rgba(242, 255, 0, 0.537);
    position: relative;
    z-index: 1;
    margin: 0px;
    display: flex;
    align-self: center;
}

.pause-button:hover {
    cursor: pointer;
}

.pause-button::before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0%;
    left: 50%;
    right: 50%;
    bottom: 0%;
    opacity: 0;
    content: '';
    background-color: rgb(255, 255, 0);
}

.pause-button:hover::before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
}